<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">
<head>
<title>Employee</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Employee List</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Employee List</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                   <!--   <div class="box-tools">
                         <form action="/users" class="form-inline">
					        <div class="form-group mb-2">
					         <input type="text" class="form-control" name="name" placeholder="Search User" />
					         <input type="submit" value="Search"  class="btn btn-primary"/>
					        </div>
	     					</form>
                    </div>-->
                </div>
	    
		 <div class="box-body">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Task</th>
							<th>Add</th>
							<th>Edit/Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${users}">
							<td th:text="${user.name}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.status}"></td>
							<td>
						
						
							 
							
							<a  th:if="${user.status != 'Busy'}"  th:href="@{/task/addTask(email=${user.email})}" class="box-title btn btn-primary">AddTask</a>
							
							</td>
							
							<td>
                                    <a href="#" class="btn btn-default" th:href="@{/employee/form(id=${user.email})}"
                                       title="Edit Data"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#" class="btn btn-default" th:href="@{/employee/delete(id=${user.email})}"
                                       title="Delete Data"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
						</tr>
						
						  
					</tbody>

				</table>
			</div>
		</div>
		         
	</div>
	</div>
	</div>
	</div>
</body>
</html>