<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Forgot Password</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        <small>Forgot Password</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Forgot Password</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="error-page">
        <h2 class="headline text-yellow" ></h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i>Oops! Page not found.</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="/">return to dashboard</a> or try using the search form.
            </p>
        </div>
    </div>
</div>
</body>
</html>