<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<title>Equipment</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Equipment List</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Equipment List</li>
    </ol>
</div>
	<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
            <form th:action="@{/catalog/report}"  method="get">
		 <div class="box-body">

                    <div class="table-responsive">
                <table id="aistable" class="table table-bordered table-hover">
					<thead>
						<tr>
						<th>Id</th>
							<th>Name</th>
							<th>Status</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="equip:${equips}">
						<!-- <td th:text="${equip.id}"></td>-->
						
						<td><a  th:href="@{/equip/equipDetails/{id}(id=${equip.id})}" class="btn btn-dark"><span th:text="${equip.id}"></span></a></td>
						
							<td th:text="${equip.equip_desc}"></td>
							<td th:text="${equip.status}"></td>
													
						</tr>
					</tbody>

				</table>
			</div>
			
			
			<!-- <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>-->
             <div class="form-group">
                
                 <button type="submit" class="box-title btn btn-primary" title="report">Report</button>
             </div>
                         
		</div>
		</form>
	</div>
	</div>
	</div>
	</div>
</body>
</html>